apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: kserve
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/kserve@sha256:db8fdae311cb25875c71626503b27a7670e068d217cc0da4e331bea25516a5e3
        name: container-image
        resources: {}
status: {}
