apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: opendatahub-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: opendatahub-operator
    app.kubernetes.io/part-of: opendatahub
  name: opendatahub-operator
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: opendatahub-operator
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: opendatahub-operator
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/opendatahub-operator@sha256:47cc04b0d13258524e922a3fa5168962f7adbd39ff97dbea74a05c9eb95be424
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 125
        resources:
          requests:
            cpu: "1"
            memory: 500Mi
status: {}
