apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: nb-base-ubi9-python-3-9
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/nb-base-ubi9-python-3-9@sha256:1c2ed59b828c1253b4993dfdb5f7eadd0748e0054ce5b00a47989bd52b8630c6
        name: container-image
        resources: {}
status: {}
