apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: trustyai-service-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: trustyai-service-operator
    app.kubernetes.io/part-of: opendatahub
  name: trustyai-service-operator
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: trustyai-service-operator
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: trustyai-service-operator
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/trustyai-service-operator@sha256:67bf79fb25be9afc53fcab56b01c86ac95b45f724aeff2ed1ad689bfaacfa956
        imagePullPolicy: Always
        name: container-image
        resources:
          requests:
            cpu: 100m
            memory: 30Mi
status: {}
