apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: notebook-controller
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/notebook-controller@sha256:5f62091b2267b3477d29a02017c8a507153b8870e67db7b7eb0d98fcb4d37194
        name: my-go
        resources: {}
status: {}
