apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: modelmesh-fzxz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/modelmesh-fzxz@sha256:ae851170decdb2cd26d63389e4af24a825f00ce205345c252a61022839892e18
        name: container-image
        resources: {}
status: {}
