apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: modelmesh-fzxz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/modelmesh-fzxz@sha256:666a71a4bc89940051938e86729a7bb46820d7b44bff68951a5b852b6571e6e7
        name: container-image
        resources: {}
status: {}
