apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: odh-notebook-controller
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/odh-notebook-controller@sha256:0f9c6bf39a4ed56f69eb3700280df1b1acbe932f8345a0bde3629229973bfc57
        name: container-image
        resources: {}
status: {}
