apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: data-science-pipelines-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: data-science-pipelines-operator
    app.kubernetes.io/part-of: opendatahub
  name: data-science-pipelines-operator
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: data-science-pipelines-operator
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: data-science-pipelines-operator
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/data-science-pipelines-operator@sha256:4cb7fb1abba1ec549dd90e4b27ff47738a1492f58becf3502080320f6564102e
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8088
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
