apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: modelmesh-fzxz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: modelmesh-fzxz
    app.kubernetes.io/part-of: opendatahub
  name: modelmesh-fzxz
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: modelmesh-fzxz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: modelmesh-fzxz
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/modelmesh-fzxz@sha256:121eb9a945ee4cddb01aa70fefc606e5749f0e4b01e6df973d4ee6d48b815401
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
