apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: trustyai-explainability-7ffg
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: trustyai-explainability-7ffg
    app.kubernetes.io/part-of: opendatahub
  name: trustyai-explainability-7ffg
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: trustyai-explainability-7ffg
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: trustyai-explainability-7ffg
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/trustyai-explainability-7ffg@sha256:6c6865700152a16a73571edfd665c966d2ba49f4aee294aaf3998acc078aa283
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 100m
            memory: 50Mi
status: {}
