apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: nb-base-ubi9-python-3-9
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: nb-base-ubi9-python-3-9
    app.kubernetes.io/part-of: opendatahub
  name: nb-base-ubi9-python-3-9
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: nb-base-ubi9-python-3-9
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: nb-base-ubi9-python-3-9
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/open-data-hub-tenant/opendatahub/nb-base-ubi9-python-3-9@sha256:994792b565c573d19e49f1f1b7607ab066ee1a7cef64c2506cca170896633deb
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
